@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
}

#Frame-9 {
    box-sizing: border-box;
    width: 100%; height: 292px;
    max-width: 580px;
    background-color: #FFFFFF;
    padding: 40px;
}

#text-1 {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 26px;
    color: #000000;
    line-height: 30px;
    letter-spacing: -0.025em;
}

#Frame-9 > hr {
    margin: 0;
    border: 0;
    border-bottom: 1px #E6E8EB solid;
}

#text-2 {
    margin: 0;
    margin-top: 39px; margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;

    color: #606060;
    line-height: 18px;
    letter-spacing: -0.025em;
}

#text-number {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 14px 11px 14px 18px;
    
    border-radius: 6px;
    background-color: #E6E8EB;
    font-weight: 400;
    font-size: 26px;

    color: #001832;
    line-height: 26px;
    letter-spacing: 7px;
}